PUSHME_API_KEY=
PUSHME_BOT_URL=https://pushme.site
NETNODE_TARGET_HOST=1.1.1.1
NETNODE_TARGET_URL=https://1.1.1.1/cdn-cgi/trace
NETNODE_DNS_HOST=example.com
NETNODE_PROFILES_JSON=[{"name":"cloudflare-resolver","label":"Cloudflare Resolver","group":"resolver","targetHost":"1.1.1.1","targetUrl":"https://1.1.1.1/cdn-cgi/trace","dnsHost":"one.one.one.one"},{"name":"google-resolver","label":"Google Resolver","group":"resolver","targetHost":"8.8.8.8","targetUrl":"https://www.google.com/generate_204","dnsHost":"google.com"},{"name":"quad9-resolver","label":"Quad9 Resolver","group":"resolver","targetHost":"9.9.9.9","targetUrl":"https://www.quad9.net/","dnsHost":"dns.quad9.net"},{"name":"github-web","label":"GitHub Web","group":"web","targetHost":"github.com","targetUrl":"https://github.com/robots.txt","dnsHost":"github.com"},{"name":"wikipedia-web","label":"Wikipedia Web","group":"web","targetHost":"wikipedia.org","targetUrl":"https://www.wikipedia.org/","dnsHost":"wikipedia.org"},{"name":"example-web","label":"Example Web","group":"web","targetHost":"example.com","targetUrl":"https://example.com/","dnsHost":"example.com"}]
NETNODE_LOCATION=default-node
NETNODE_PACKET_COUNT=4
NETNODE_INTERVAL_MS=60000
NETNODE_STATE_FILE=./netnode-state.json
NETNODE_PUBLISH_MODE=changes
NETNODE_SOURCE_URL=
