[Unit]
Description=PushMe Netnode Publisher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/work/pushme-netnode
ExecStart=/bin/sh ./netnode.sh
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
